<link rel="stylesheet" type="text/css" href="/public/style.css">
<div class=sidebar>
    <P id=title>Notella </P>
    <u id=forgotpass> Forgetten password?</u>
    <u id="aboutus">About us</u>
</div>
<div class="wrapper" id="passwordwrapper">
    <div id="passwordtext">Change Password</div>
    <form id="passwordform" method="POST" action="/passwordchange"> 
        <label class="labels" for="password">Password</label> 
       <input type="text" name="password" id="pass" placeholder="Password">
       <label class="labels" for="confirmpassword">Confirm Password</label>
       <input type="text" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
       <input type="submit" id="submit" value="submit">
    </form>
</div>
<!-- <script>
    $("#password").change(functiom(){
        var confirmpassword = $("#confirmpassword").val()
        var password = $()
    })
</script> 
!--> 