<link rel="stylesheet" type="text/css" href="/public/style.css">
<div class=sidebar>
    <P id=title>Notella </P>
    <u id=forgotpass> Forgetten password?</u>
    <u id="aboutus">About us</u>
</div>
<div class="wrapper" id="passwordwrapper">
    <div id="passwordtext">Forgetten Password</div>
    <form id="passwordform" method="POST" action="/resetpassword"> 
        <label class="labels" for="email">Email Address</label> 
       <input type="text" name="email" id="email" placeholder="Email">
       <input type="submit" id="submit" value="submit">
    </form>
</div>