
<link rel="stylesheet" type="text/css" href="/public/style.css"> <!-- This loads the css into the page-->
<title> Login Page</title>
<body>
    <div class="wrapper"> 
   <form action="/login" method="POST"> 
        <div id=login>
        <label class="labels" for="user"><strong>USERNAME</strong></label>
        <input type="text" name="user" id="user" placeholder="Username">
        <label for="pass" class="labels"><strong>PASSWORD</strong></label>
        <input type="password" name="pass" id="pass" placeholder="Password">
        <input type="submit" id="submit">
        <input type=button id="register" onclick="window.location.href = '/register';" value="Register"/> <!-- This redirects the user to the registeration page-->
        </div>
    </form>
        <div id="errormessage"><%= errormessage %></div> <!-- This allows the back end to pass through any error messages such as an invaild username or password-->

    </div>
<div class=sidebar>
    <P id=title>Notella </P>
    <a href="/forgottenpassword"><u id=forgotpass> Forgetten password?</u> </a>
    <u id="aboutus">About us</u>
</div>
    
</body>




