<link rel="stylesheet" type="text/css" href="/public/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Welcome</title> 
<div class=sidebar>
    <P id=title>Notella </P>
    <div id=boards>
        <button class="boardbuttons" id ="settings" onclick="location.href = '/settings'">Settings</button>
        <button class="boardbuttons" id="addboard" onclick="addBoard()"> Add Board</button>
        <button class="boardbuttons" id="addcard"> Add Card</button>
        <button class="boardbuttons" id="adduser"> Add User</button>
        <button class="boardbuttons" id="shareuser" onclick="openShare()"> Share </button>
        <button class="boardbuttons" onclick="location.href = '/logout'"> Logout</button>
    </div>

    <u id="aboutus">About us</u>
</div>
    <div id="cardWrapper">
        <div id="addcardmod" class="addcard">
                <div class=addcardcontent>
            <span class="close">&times;</span>

            <div id="addcardheader"> <u style="color: white;">Add Card</u></div>
            <div id=addcardwrapper>
                <form class="cardform" name="cardform" action="/api/addCard" method="POST">
                    <label class="labels">Title</label>
                    <input type="text"  id="titlecard" name="title" placeholder="Title" maxlength="443">
                    <label class="labels">Description</label>
                    <textarea id="description" name="description" placeholder="Description"></textarea>
                    <input type="hidden" name="boardid" id="boardid">
                    <input type="submit" id="submitcard" value="Add Card">
                </form>

            </div>
            </div>
        </div>
        <div id="updatecardmod" class="updatecardmod">
            <div class="updatecardcontent">
            <span class="close2">&times;</span>
            <div id="updatecardheader"><u style="color: white;">Update Card</u></div>
            <div id="updatecardwrapper">
                <form class="updatecardform" name="updatecardform" action="/api/updateCard" method="POST">
                    <label class="labels">Title</label>
                    <input type="text"  id="titlecardupdate" name="updatetitle" placeholder="Title" maxlength="443">
                    <label class="labels">Description</label>
                    <textarea id="updatedescription" name="updatedescription" placeholder="Description"></textarea>
                    <input type="hidden" name="noteid" id="noteid">
                    <input type="submit" id="submitcardupdate" value="Update Card">
                </form>
            </div>
            </div>
        </div>

    <div id="shareusermod" class="shareusermod">
        <div class="updatecardcontent"> <!-- Share User But Can't Be Botherd To Rename-->
        <span class="close3">&times;</span>
        <div id="shareheader"><u style="color: white;">Share Card</u></div>
        <div id="sharewrapper">
            <form class="updatecardform" name="shareuserform" action="/api/shareUser" method="POST">
                <label class="labels">Username</label>
                <input type="text"  id="sharecard" name="share" placeholder="Username" maxlength="443">
                <input type="hidden" name="boardid" id="boardid2">
                <input type="submit" id="submitcardupdate" value="Share">
            </form>
        </div>
        </div>
    </div>

</div>
<script>
    var currentboard
    function clearElements(){
        var elements = document.getElementsByClassName("card")
        while (elements[0]){
            elements[0].parentElement.removeChild(elements[0]) // loops through deleting all cards that are on the screen
        }
    }
    function addBoard(){
        $.post("/api/addBoard",function(status){
            console.log(sent)
        })
        
    }



    function createCard(cardinfo){
        var card = document.createElement("div")
        var cardtitlewrapper = document.createElement("div")
        var cardtitle = document.createElement('div')
        var notewrapper = document.createElement('div')
        var buttonwrapper = document.createElement('div')
        var deletebutton = document.createElement('button')
        var updatebutton = document.createElement('button')
        var notes = document.createElement('div')
        card.setAttribute('class','card')
        cardtitlewrapper.setAttribute('class','cardtitlewrapper')
        cardtitle.setAttribute('class','cardtitle')
        cardtitle.innerText = cardinfo.title
        notewrapper.setAttribute('class','noteWrapper')
        notes.setAttribute('class','notes')
        notes.innerText = cardinfo.notes
        buttonwrapper.setAttribute('class','buttonWrapper')
        deletebutton.setAttribute('class','deletebutton')
        deletebutton.innerHTML = 'Delete'
        deletebutton.setAttribute('id',cardinfo.notesid)
        updatebutton.setAttribute('class','updatebutton')
        updatebutton.innerHTML = 'Update'
        updatebutton.setAttribute("onClick","openUpdate(this)")
        updatebutton.setAttribute('id',cardinfo.notesid)
        deletebutton.setAttribute('onClick','deleteCard(this)')
        card.append(cardtitlewrapper)
        cardtitlewrapper.append(cardtitle)
        card.append(notewrapper)
        card.append(buttonwrapper)
        notewrapper.append(notes)
        buttonwrapper.append(deletebutton)
        buttonwrapper.append(updatebutton)
        document.getElementById('cardWrapper').append(card) //Adds card to the page

    }
    function deleteCard(things){
        var datatosend = {
            id:things.id
        }
        $.post("/api/deleteCard",datatosend,function(data,status){
            console.log(`${data} and status is ${status}`)
        });   
        window.location.reload(true)
    }   
    function getNotes(things){
        currentboard = things.id
        fetch("/api/getNotes?boardid="+things.id) // performs a get request
            .then(function (response){
                return response.json()
            })
            .then(function(boardinfo){
                clearElements()
                boardinfo.forEach(i=>{
                    createCard(i)




                    
                    
                })

            })
    }
    fetch("/api/userBoards")
     .then(function (response){
          return response.json()
     })
     .then(function (myJson){
        var buttons = Array; 
        buttons = myJson
        console.log(buttons)
        var counter = 1
        buttons.forEach(i => {
            var button = document.createElement("button");
            button.type = "button";
            button.setAttribute('onClick',"getNotes(this)")
            button.setAttribute('id',i)
            button.setAttribute('class',"boardbuttons")
            button.innerHTML= "<u class='buttontext'>" + "Board " + counter + "</u>"
            counter = counter + 1
            document.getElementById("boards").append(button)
            console.log("added button")
            
        });
    
     })
     // Get the modal
    var modal = document.getElementById("addcardmod");

    // Get the button that opens the modal
    var btn = document.getElementById("addcard");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
    modal.style.display = "block";
    console.log(currentboard)
    document.cardform.boardid.value = currentboard
    console.log(document.cardform.boardid.value)

    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
     }
    }
    // Update Card
    var modal2 = document.getElementById("updatecardmod");
    
    var span2 = document.getElementsByClassName("close2")[0];
    function openUpdate(things){
        modal2.style.display = "block";
        document.updatecardform.noteid.value = things.id
        

    }
    span2.onclick = function() {
    modal2.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal2.style.display = "none";
     }
    }
    //Share User Modal
    var modal3 = document.getElementById("shareusermod");
    
    var span3 = document.getElementsByClassName("close3")[0];
    function openShare(){
        modal3.style.display = "block";
        document.shareuserform.boardid2.value = currentboard
        console.log(document.shareuserform.boardid2.value)
    }
    span3.onclick = function() {
    modal3.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal3.style.display = "none";
     }
    }
</script>
