<link rel="stylesheet" type="text/css" href="/public/style.css"> <!--Loads the css-->
<div class="Sidebar">
    <p id="title">Notella</p>
    <u id=forgotpass> Forgetten password?</u>
    <u id="aboutus">About us</u>
</div>
<body>
    <div class="wrapper">
        <form id="registeraccount" action="/register" method="POST">
            <label class="labels">USERNAME</label>
            <input type="text" name="user" id="user" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="Email" oninvalid="this.setCustomValidity('Enter a vaild email')" oninput="this.setCustomValidity('')"> <!--The email tag checks to see if what the user has added in the structure of an email-->
            <input type="password" name="password" id="pass" placeholder="Password">
            <input type="submit" name="submit" id="submit" value="Register">
            <div id="registererror"><%=message%> </div> <!--Allows custom error messages-->
        </form>
    </div>
</body>