.sidebar{
    width: 20%;
    height: 100%; 
    background-color: #492581;
}
#title{
    padding-top: 5%;
    text-align: center;
    color: white;
    font-size: 250%;
}

#aboutus{
    color: white;
    font-size: 20px;
    text-align: center;    
    position: fixed;
    bottom: 10%;
    margin-left: 7%;
}