/* Login page */
.wrapper{
    
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #3C3B3B;
    transform: translate(-60%, -50%);
    width: 499px;
    height: 612px;
}
#login{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#errormessage{
    font-family: Monserrat;
    color: white;
}
/* Style inputs */
#user,#pass,#email,#confirmpassword{
    width: 100%;
    padding: 20px 30px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: rgba(136, 128, 128, 0.58);
  }
  
  /* Style the submit button */
#submit,#register,#submitcard ,#submitcardupdate{
    width: 45%;
    background-color: rgba(136, 128, 128, 0.58);
    color: white;
    padding: 14px 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #register{
      margin-left: 9%;
  }
  
  /* Add a background color to the submit button on mouse-over */
  #submit:hover , #register:hover ,#submitcard:hover ,#submitcardupdate:hover{
    background-color: rgba(136, 128, 128, 0.70)
  }
  #user::placeholder,#pass::placeholder,#email::placeholder,#confirmpassword::placeholder{
      transform: translateY(15%) translateX(-5%);
      color: rgba(188, 187, 187, 0.7);
      font-size: 36px;
  }
.labels{
    font-family: Montserrat;
    font-size: 36px;
    color: white;
}

body{
    margin: 0%;
    background-color: #23272A;
    overflow: hidden;

}

/*Side bar*/
.sidebar{
    width: 20%;
    height: 100%; 
    background-color: #492581;
}
#title{
    padding-top: 5%;
    text-align: center;
    color: white;
    font-size: 250%;
    font-family: Montserrat;
}

#aboutus{
    color: white;
    font-size: 20px;
    text-align: center;    
    position: fixed;
    padding-left: 7%;
    bottom: 10%;
    font-family: Montserrat;
    
}
#forgotpass{
    color: white;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 20%;
    padding-left: 5%;
    margin-bottom: 0;
    font-family: Montserrat;
}
/*Register Page */
#registeraccount{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*Board Buttons*/
.boardbuttons{
    background-color:#422274;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-top: 10%;
    margin-left: 25%;
    border: 0;
    color: white;
    font-size: 20px;
    
}
/* Cards */
#cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    background-color: #23272A;
    padding: 1%;
    bottom: 100%;
    left: 20%;
    height: 100%;
    width: 80%;
    
}
.card{
    display: flex;
    position: relative;
    flex-direction: column;
   /*/ padding: 2%; /*/
    margin-right: 0.5%;
    margin-left: 0.5%;
    background-color: #3C3B3B;
    width: 23%;
    height: 40%;
}
.cardtitlewrapper{
    display: flex;
    margin-top: 2%;
    padding: 0%;
    border-bottom: solid white 2px;
    height: 15%;
    width: 100%;
}
.cardtitle{
    display: flex;
    font-size: 300%;
    font-family: Montserrat;
    margin-left: 2%;
    color: white;

}
.noteWrapper{
    display: flex;
    background-color: #3C3B3B;
    width: 100%;
    height: 65%;
    border-bottom: solid white 2px;
}
.deletebutton{
    background-color: rgba(136, 128, 128, 0.58);
    height: 80%;
    width: 30%;
    border: 0px;
    color: white;
    margin-top: 2%;
}
.updatebutton{
    color: white;
    height: 80%;
    width: 30%;
    background-color: rgba(136, 128, 128, 0.58);
    box-sizing: border-box;
    border: none;
    margin-left: 20%;
    border-radius: 4px; 
    margin-top: 2%;
    

}
.buttonWrapper{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 20%;
   /*/ background-color: blue; /*/ 
}
.notes{
    word-wrap: break-word;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin-left: 1%;
    font-family: Montserrat;
    font-size: 125%;
    color: white;
}
/*Add card */
.addcard {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
    .addcardcontent {
    background-color: #3C3B3B;
    margin: 4% 35%; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 70%;
  }
   #addcardheader{
       white-space: nowrap;
       margin: 1% 45%;
       color: white;
       font-family: Montserrat;
       font-size: 130%;
       
   }
  /* The Close Button */
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
  }
    #titlecard{
        width: 100%;
        height: 10%;
        border: none;
        box-sizing: border-box;
        background-color: rgba(136, 128, 128, 0.58);
        font-size: 150%;

    } 
    #titlecard::placeholder,#description::placeholder{
        color: rgba(188, 187, 187, 0.7);
    }
    #addcardwrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
        background-color: none  ;

    }
    #description{
        height: 30%;
        width: 100%;
        background-color: rgba(136, 128, 128, 0.58);
        box-sizing: border-box;
        border: none;
        font-size: 150%;
    }
    #submitcard{
        width: 100%;
        height: 20%;
        justify-content: center;

    }
 /* Update Card */
 .updatecardmod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
    .updatecardcontent {
    background-color: #3C3B3B;
    margin: 4% 35%; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 70%;
  }
   #updatecardheader{
       white-space: nowrap;
       margin: 1% 45%;
       color: white;
       font-family: Montserrat;
       font-size: 130%;
       
   }
  /* The Close Button */
    .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
    .close2:hover,
    .close2:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
  }
    #titlecardupdate,#sharecard{
        width: 100%;
        height: 10%;
        border: none;
        box-sizing: border-box;
        background-color: rgba(136, 128, 128, 0.58);
        font-size: 150%;

    } 
    #titlecardupdate::placeholder,#description::placeholder,#sharecard::placeholder{
        color: rgba(188, 187, 187, 0.7);
    }
    #updatecardwrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
        background-color: none  ;

    }
    #updatedescription{
        height: 30%;
        width: 100%;
        background-color: rgba(136, 128, 128, 0.58);
        box-sizing: border-box;
        border: none;
        font-size: 150%;
    }
    #submitcardupdate{
        width: 100%;
        height: 20%;
        justify-content: center;

    }
/* Share Modal */ 
.shareusermod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
   #shareheader{
       white-space: nowrap;
       margin: 1% 45%;
       color: white;
       font-family: Montserrat;
       font-size: 130%;
       
   }
  /* The Close Button */
    .close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
    .close3:hover,
    .close3:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
  }
  #sharewrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: none  ;

  }
  /* Settings */
  #settingswrapper{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #3C3B3B;
    transform: translate(-60%, -50%);
    width: 400px;
    height: 600px;
    justify-content: center;
  }
  #settings{
        color: white;
        font-size: 30px;
  }
  /* Forgotten password */
  #passwordtext{
    font-family: Montserrat;
    font-size: 40px;
    color: white;
    text-align: center;

  }
  #passwordwrapper{
      justify-content: center;
  }
  #passwordform{
      margin-left: 10%;
      margin-right: 10%;
  }